* {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

[data-theme="auto"],
[data-theme="light"] {
  color-scheme: light;
  background-color: #eeeeee;
  color: #111111;
  --border: #ccc;
}

[data-theme="dark"] {
  color-scheme: dark;
  background-color: #111111;
  color: #eeeeee;
  --border: #3d3d3d;
}

@media (prefers-color-scheme: dark) {
  [data-theme="auto"] {
    color-scheme: dark;
    background-color: #111111;
    color: #eeeeee;
    --border: #3d3d3d;
  }
}

html,
body {
  height: 100%;
}
